* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #363434;
}

.container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px #0000004d;
    background-image: url(https://img.freepik.com/fotos-premium/black-tools-of-barber-barber-shop-tijeras-profesionales-cortar-cabello-peluqueria-stright-razor-brocha-afeitar-sobre-fondo-negro_275559-24287.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699574400&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
}

.buque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.buque label {
    margin: 10px;
    color: lightgray; 
    transition: color 0.3s ease; 
}

.buque label:hover {
    color: lightgray; 
}

h1 {
    color: lightgrey;
    font-size: 20px;
    margin-bottom: 15px;
}



.boton {
    background-color: #0b323f;
    color:whitesmoke;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton:hover,
.boton:active { 
    background-color: rgb(65, 62, 56);
}


input[type="radio"] {
cursor: pointer;
}
input[type="text"]::placeholder{
    text-align: center;
}

input[type="text"] {
    padding: 12px; 
    margin-bottom: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    width: 25%;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease; 
}
.containerc {
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   background-image: url(https://img.freepik.com/fotos-premium/black-tools-of-barber-barber-shop-tijeras-profesionales-cortar-cabello-peluqueria-stright-razor-brocha-afeitar-sobre-fondo-negro_275559-24287.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699574400&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
}

/* Center the content horizontally */
.containerc > div {
    display: inline-block;
    text-align: left;
}


.containerc::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; 
}


.button-container {
    margin-top: 20px;
}

.button {
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button--atras {
    background-color: #515a79;
    color: white;
}

.button--siguiente {
    background-color: #515a79;
    color: white;
}

.button:hover,
.button:active {
    background-color: rgb(114, 99, 71);
}


input[type="text"]:hover {
    border-color: #4CAF50;
}

.modal {
    display: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: transform 0.3s ease-out; 
}

/* Estilos base para la tabla */

.tabla {
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-collapse: collapse;
    width: 100%;
    background-color: #131e29; 
    margin-bottom: 20px;
    color: whitesmoke;
}

.tabla th, .tabla td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
    text-align: center;
}

.tabla th {
    background-color: rgb(11, 50, 63); 
    color: rgba(255, 255, 255, 0.89); 
}

.tabla tr:nth-child(even) {
    background-color: rgb(72, 94, 116); /
}

/* Estilos para la sección de tablas */
.tablas {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
}


.tabla tbody tr:hover {
    background-color: rgb(54, 68, 83); 
}

/* Estilo para el modal  */




 
.producto {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}


.modalcontainer {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}


.modalcontenido {
    background-color: #084858;
    margin: 10% auto;
    padding: 10px;
    border: 5px solid #042349;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #b610101a;
    text-align: center;
    color: whitesmoke;
}


@media (max-width: 768px) {
    .modalcontenido {
        width: 80%;
    }
}


.producto {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.imagenmodel {
    width: 50%;
    height: auto;
    max-height: 200px;
    margin: 10px 0;
    border-radius: 5px;
}


.inputproduc {
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.botonmodel {
    margin: 10px;
    padding: 15px 20px;
    font-family: "FS Kim", Georgia, serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}


.botonmodel--cerrar {
    background-color: #e57373;
    color: #fff;
}


.botonmodel--actualizar {
    background-color: #81c784;
    color: #fff;
}


.botonmodel:hover {
    background-color: #a83232;
}


.botonmodel--cerrar:hover {
    background-color: #d32f2f;
}


.botonmodel--actualizar:hover {
    background-color: #4caf50;
}

.botonmodel:hover {
    background-color: hwb(0 73% 27%); 
}


#myModal {
    display: none; 
  }
  
  .modalVisible {
    display: block !important; /
  }
  .imagenRedonda{
    
    width: 160px;
    height: 160px;
    padding: 5px;
    border-radius: 30px;
}

.information {
    color: #f5deb3;
    font-weight: bold;
}